div.checkbox {
    display: inline-block;
    background-color: white;
    border-radius: 15%;
    border-style: solid;
    border-width: 3px;
    border-color: black;
    padding: 3px;
    margin: auto;
}

.fa-check {
    font-size: 1rem;
}