.container {
    border-style: solid;
    border-radius: 10px;
    border-width: 0;
    box-sizing: border-box;
    width: 100%;
    display: grid;
    margin: 10px auto;
    grid-template-columns: 10% auto 10%;
    min-height: 50px;
    overflow: hidden;

}

.container-box1 {
    grid-column: 1 / 2;
    display: flex;
    background-color: rgb(73, 0, 168);
    overflow: hidden;
}

.container-box2 {
    grid-column: 2 / 3;
    display: flex;
    background-color: white;
}

.container-box3 {
    grid-column: 3 / 4;
    display: flex;
    background-color: white;
}

.fillText {
    width: 50%;
    margin: auto 30px;
    text-align: left;
}